@model MoqToNSubstituteConverter.ConversionResponse
@{
    ViewData["Title"] = "Home";
}

<form method="POST">
    <div class="text-center">
        <h4>
            Paste your Moq code into the left textbox, <br />
            then use the "Process code" button to generate equivalent NSubstitute code on the right
        </h4>
        <span>This migration has approximately ~90% accuracy, depending on the Code, and works best if the code is auto-formatted first (Ctrl+K, Ctrl+F). <br />For tasks unable to be migrated, a comment is added to the results</span>
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="height:60vh;">
                    <div class="codeHeader lang-html" data-bi-name="code-header">
                        <span class="language">Moq code</span>
                    </div>
                    <textarea rows="20" cols="60" id="txtMoqCode" name="txtMoqCode" style="height: 90%; width: 100%; text-align: left; white-space: nowrap; overflow: auto; font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace; font-size: 12px; color: #333; font-weight: 400;">@Model.OriginalCode</textarea>
                </div>
                <div class="col-sm-6" style="height:60vh;">
                    <div class="codeHeader lang-html" data-bi-name="code-header">
                        <span class="language">NSubstitute code</span>
                        <button class="action" data-bi-name="copy" onclick="selectElementContentsById('txtNSubstituteCode')"><svg class="vector-icon" focusable="false" viewBox="0 0 14 14"><path d="M13 6.8V14H4v-3H0V0h5.2l3 3h1L13 6.8zM4 3h2.8l-2-2H1v9h3V3zm8 5H8V4H5v9h7V8zM9 7h2.8L9 4.2V7z"></path></svg> Copy</button>
                    </div>
                    <pre id="txtNSubstituteCode" style="height: 90%; text-align: left;">
                        @Model.ConvertedCode
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button asp-controller="home" asp-action="Index">Process code</button><br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px">
                    <p><b>Try some samples:</b></p>
                    <button asp-controller="home" asp-action="Example1">Full example with explicit declaration</button>&nbsp;
                    <button asp-controller="home" asp-action="Example2">Full example with Var</button>&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px"></div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 8px">
                    <button asp-controller="home" asp-action="SimpleExample1">Simple Example 1</button>&nbsp;
                    <button asp-controller="home" asp-action="SimpleExample2">Simple Example 2</button>&nbsp;
                    <button asp-controller="home" asp-action="SimpleExample3">Simple Example 3</button>&nbsp;
                    <button asp-controller="home" asp-action="SimpleExample4">Simple Example 4</button>&nbsp;
                    <button asp-controller="home" asp-action="SimpleExample5">Simple Example 5</button>&nbsp;
                </div>
            </div>
        </div>
        <p>
            <b>No code is captured or stored</b> in the process of the conversion. @* Note that unknown examples are thrown as exceptions and are captured in Application Insights to help me identify and solve new, unknown scenarios *@<br />
            The source code for this <a href="https://github.com/samsmithnz/MoqToNSubstituteConverter" target="_blank">website</a> is stored in GitHub and is fully open source.
            <br /><br />
            If you run into a bug, please <a href="https://github.com/samsmithnz/MoqToNSubstituteConverter/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">post an issue</a>!
        </p>
    </div>
</form>